= form_for @training do |f|
  - if @training.errors.any?
    #error_explanation
      %h2= "#{pluralize(@training.errors.count, "error")} prohibited this training from being saved:"
      %ul
        - @training.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label 'dzień tygodnia'
    = f.text_field :day
  .field
    = f.label 'czas trwania'
    = f.text_field :duration
  .field
    = f.label :team_id
    = f.number_field :team_id
  .actions
    = f.submit 'Save'
