%h2 Treningi

%p
  Zestawienie treningów poszczególnych zespołów

.table-responsive
  %table.table
    %tr
      %th Dzień
      %th Czas trwania
      %th Zespół
      %th Miejsce
    - @trainings.each do |training|
      %tr
        %td= training.team.name
        %td= training.day
        %td= training.duration
        %td= "#{training.address}, #{training.team.district.name}"
        -if coach_signed_in?
          %td= link_to 'Edit', edit_training_path(training)
          %td= link_to 'Destroy', training, :method => :delete, :data => { :confirm => 'Are you sure?' }

.media_mobile
  %h6
    przesuń tablelkę palcem, aby zobaczyć całość