%p#notice= notice

%h2
  = @team.name

%p.text-left
  Informacje o zespole

  %table.table
    %thead
      %tr
        %th Trener
        %th Wiek zawodniczek
    %tbody
      %tr
        %td= @team.coach.name
        %td= @team.age

%p.text-left
  Treningi

  %table.table
    %thead
      %tr
        %th Dzień
        %th Godziny
        %th Miejsce
    %tbody
      - @trainings.each do |training|
        - if training.team_id == @team.id
          %tr
            %td= training.day
            %td= training.duration
            %td= "#{training.address}, #{@team.district.name}"

%p.text-left
  Zawodniczki

  %table.table
    %thead
      %tr
        %th Imię
        %th Nazwisko
        %th Rok urodzenia
    %tbody
    - @players.each do |player|
      - if player.team_id == @team.id
        %tr
          %td= player.fname
          %td= player.lname
          %td= player.age

-if coach_signed_in?
  = link_to 'edytuj', edit_team_path(@team)
  = link_to 'Destroy', @team, :method => :delete, :data => { :confirm => 'Are you sure?' }
