= form_for @pitch do |f|
  - if @pitch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pitch.errors.count, "error")} prohibited this pitch from being saved:"
      %ul
        - @pitch.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
