= form_for @coach do |f|
  - if @coach.errors.any?
    #error_explanation
      %h2= "#{pluralize(@coach.errors.count, "error")} prohibited this coach from being saved:"
      %ul
        - @coach.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :d_study
    = f.text_area :d_study
  .field
    = f.label :d_me
    = f.text_area :d_me
  .field
    = f.label :d_sport
    = f.text_area :d_sport
  .field
    = f.label :d_passion
    = f.text_area :d_passion

  .actions
    = f.submit 'Save'
