- @coaches.each do |coach|
  %h1
    = coach.name
  %p
    = coach.description
  %p
    .row
      .col-xs-6.col-md-3
        %a.thumbnail{href: "#"}
          =image_tag 'logo_lpg.png', "data-src" => "holder.js/100%x180"
      .col-xs-6.col-md-3
        %a.thumbnail{href: "#"}
          =image_tag 'logo_lpg.png', "data-src" => "holder.js/100%x180"
      .col-xs-6.col-md-3
        %a.thumbnail{href: "#"}
          =image_tag 'logo_lpg.png', "data-src" => "holder.js/100%x180"
      .col-xs-6.col-md-3
        %a.thumbnail{href: "#"}
          =image_tag 'logo_lpg.png', "data-src" => "holder.js/100%x180"

  %table
    %tr
      %td= link_to 'Show', coach
      %td= link_to 'Edit', edit_coach_path(coach)
      %td= link_to 'Destroy', coach, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Coach', new_coach_path
