%p#notice= notice

%h2
  = @coach.name
%p
  %b Studia:
  %p
    = @coach.d_study
%p
  %b Na codzień:
  %p
    = @coach.d_me
%p
  %b Sport:
  %p
    = @coach.d_sport
%p
  %b Pasja:
  %p
    = @coach.d_passion


- if coach_signed_in?
  %p
    = link_to 'edytuj',  edit_coach_path(@coach)

%p
  = link_to 'Powrót', coaches_path
