%p#notice= notice

%h2
  = @coach.name
%p
  %b Studia:
  %p
    = @coach.d_study
%p
  %b Na codzień:
  %p
    = @coach.d_me
%p
  %b Sport:
  %p
    = @coach.d_sport
%p
  %b Pasja:
  %p
    = @coach.d_passion

%p
  = link_to 'Powrót', coaches_path
