- if coach_signed_in?
  %p#notice= notice

  %p
    %b Name:
    = @player.fname
  %p
    %b Name:
    = @player.lname
  %p
    %b Age:
    = @player.age
  %p
    %b Email
    = @player.email
  %p
    %b Team:
    = @player.team_id

  %p
    %b Częstość:
    = @player.times

  %p
    = @player.districts.map {|c| c.name}.join(', ')

  = link_to 'Edit', edit_player_path(@player)
  \|
  = link_to 'Back', players_path
