%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title 
      Szkółka Piłkarksa Ladies Power Gdańsk
      = yield(:title) 
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "//fonts.googleapis.com/css?family=Niconne&subset=latin-ext", rel: 'stylesheet' }
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    = csrf_meta_tags
  %body
    .container
      .row.own_navbar
        =render 'layouts/partials/navbar'
      .row
        .col-xs-12.col-sm-12.col-lg-10
          .col-sm-2.col-lg-2
            .own_content
              tralalala
          .col-xs-12.col-sm-10
            .own_content
              .jumbotron
                = yield